*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html {
    font-family: ;

}
a {
    color: currentColor;
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
img{
    max-width: 100%;
}
